.calculator input, .calc-button {
    font-family: Arial, serif;
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}
.calc-button {
    background: gray;
    border: 1px solid #111;
    padding: 20px;
    color: #eee;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.calculator-buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.is-zero, .is-clear {
    grid-column: span 3;
}

.is-clear {
    background: #3572DB;
}

.is-equals {
    background: #28D060;
}

body{
    background:#939393;
    height: 2000px;
}
.crest {
    background: orange;
    width: 60px;
    height: 60px;
}
#calc-contain{
    border: 2px solid #2E2E2E;
    float: left;
    border-radius: 6px;
    padding: 20px 20px 100px 20px;
    width: 300px;
    height: 360px;
 }

input[type=text]{
    margin-top: -11px;
    margin-bottom: 5px;
    font-size: 60px;
    padding: 10px;
    height: 40px;
    width: 320px;
    border-style: none;
    background: #939393;
    color: #000000;
    text-align: right;
    border-bottom: 2px solid #000000;
    margin-left: -10px;
}
#C{
    width: 213px;
    height: 60px;
    color: #FFFFFF;
    font-family: Calibri;
    border-radius: 6px;
    font-size: 40px;
    background-color: #1796DF;
    border-color: #000000;
    border-width: 1px;
    margin-right: 11px;
}
.delit{
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-radius: 6px;
    font-size: 37px;
    background-color: #5B5B5B;
    border-color: #000000;
    border-width: 1px;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 11px;
    margin-bottom: 10px;
}
#nol{
    width: 213px;
    height: 60px;
    color: #FFFFFF;
    font-family: Calibri;
    border-radius: 6px;
    font-size: 40px;
    background-color: #5C5C5C;
    border-color: #000000;
    border-width: 1px;
    margin-right: 12px;
    margin-top: 6px;
}
#ravno{
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-radius: 6px;
    font-size: 37px;
    background-color:#007A28;
    border-color: #000000;
    border-width: 1px;
    margin-left: 0px;
}

        #scrollToTop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0;
        background-color: white;
        height: 40px;
        width: 40px;
        font-size: 25px;
        font-style: bold;
        text-align: center;
        border-radius: 5px;
}
        @media (max-width: 1200px){
            #scrollToTop{
                display: none;
            }
        }
        @media (
        min-width: 1500px
         max-width: 1799px){
            #scrollToTop{
                display: none;
            }
        }
        @media(min-width: 1800px){
            #scrollToTop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0;
        background-color: #30bf48;
        height: 50px;
        width: 50px;
        font-size: 25px;
        font-style: bold;
        text-align: center;
        border-radius: 5px;
        }
    }